
*.pper
*.Rdata
*.html
*.js
.Rproj.user/17983D80/persistent-state
.Rproj.user/17983D80/rmd-outputs
.Rproj.user/17983D80/saved_source_markers
.Rproj.user/17983D80/sources/per/t/2CFBB9AF
.Rproj.user/17983D80/sources/per/t/2CFBB9AF-contents
.Rproj.user/17983D80/sources/per/t/33B0DDE4
.Rproj.user/17983D80/sources/per/t/33B0DDE4-contents
.Rproj.user/17983D80/sources/per/t/357A7A53
.Rproj.user/17983D80/sources/per/t/357A7A53-contents
.Rproj.user/17983D80/sources/per/t/95AD4BFE
.Rproj.user/17983D80/sources/per/t/95AD4BFE-contents
.Rproj.user/17983D80/sources/per/t/EC46B586
.Rproj.user/17983D80/sources/per/t/EC46B586-contents
.Rproj.user/17983D80/sources/per/t/FC879024
.Rproj.user/17983D80/sources/per/t/FC879024-contents
.Rproj.user/17983D80/sources/prop/1AFCE1C2
.Rproj.user/17983D80/sources/prop/B6974855
.Rproj.user/17983D80/sources/prop/C1F0F8B2
.Rproj.user/17983D80/sources/prop/C2800307
.Rproj.user/17983D80/sources/prop/E4F0CA9F
.Rproj.user/17983D80/sources/prop/INDEX
.Rproj.user/17983D80/viewer_history/current_index
.Rproj.user/17983D80/viewer_history/history_entries
.Rproj.user/17983D80/viewer_history/viewhtml4c147fbc3ff4/lib/candela-0.2.0/candela.js
.Rproj.user/17983D80/viewer_history/viewhtml4c147fbc3ff4/lib/candela-binding-0.2.0/candela.js
.Rproj.user/17983D80/viewer_history/viewhtml4c147fbc3ff4/lib/htmlwidgets-1.5.1/htmlwidgets.js
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/17983D80/sources/s-737079A5/2CFBB9AF
.Rproj.user/17983D80/sources/s-737079A5/2CFBB9AF-contents
.Rproj.user/17983D80/sources/s-737079A5/33B0DDE4
.Rproj.user/17983D80/sources/s-737079A5/33B0DDE4-contents
.Rproj.user/17983D80/sources/s-737079A5/357A7A53
.Rproj.user/17983D80/sources/s-737079A5/357A7A53-contents
.Rproj.user/17983D80/sources/s-737079A5/95AD4BFE
.Rproj.user/17983D80/sources/s-737079A5/95AD4BFE-contents
.Rproj.user/17983D80/sources/s-737079A5/EC46B586
.Rproj.user/17983D80/sources/s-737079A5/EC46B586-contents
.Rproj.user/17983D80/sources/s-737079A5/FC879024
.Rproj.user/17983D80/sources/s-737079A5/FC879024-contents
.Rproj.user/17983D80/sources/s-737079A5/lock_file
